body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: cadetblue;
   width: 100vw;
   height: 100vh;
}

input{
   border-radius: 10px;
   border: 0;
   margin-left: 10px;
}

label{
   margin-top: 10px;
}
div{
   display: flex;
   flex-direction: row;
   margin: 20px;
}